/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

.mrizka {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
	border: 5px solid lightskyblue;
}

.ctverec {
	flex: 1 1 30%;
	padding: 20px;
	border: 1px solid gray;
	background-color: #e5e5e5;
}

.ctverec img {
	width: 100%;
}

/*************************************************/

/*
CSS Selektory:
--------------
:first-child			první potomek
:last-child				poslední potomek
:nth-child(n)			n-tý potomek
:nth-child(3n)	  každý 3. potomek
:nth-child(3n+2)	vždy 2. potomek z každé trojice
*/
 

/*prvek, který má na sobě třídu čtverec a je prvním potomkem svého rodiče.*/
/*pokud mezera mezi ctverec a dvojtečkou - první potomek, který je uvnitř čtverce*/

/*.ctverec:first-child{background-color:lightblue;} 

.ctverec :first-child{border: 5px solid blue;} 

.ctverec:last-child{
	background-color: lightpink;
	border: 5px solid deeppink;
}
*/

/*.ctverec:nth-child(5){
	background-color: fuchsia;
}

.ctverec:nth-child(10){
	background-color: gainsboro;
}*/

/*.ctverec:nth-child(5n){
	background-color: deepskyblue;
}*/

h1{
	color:darkblue;
}

.ctverec:nth-child(3n){
	background-color: cornflowerblue;
 
}

.ctverec:nth-child(3n+2){
	background-color: aliceblue;
}

.ctverec:nth-child(3n+1){
	background-color: lightblue;
}

tr:nth-child(even){ 
	background-color:lightpink;
}

tr:nth-child(odd){
	background-color: blanchedalmond;
}

h3:nth-child(3n+3){
	color:snow;
}

